* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
body{
    background-color: #00000008;
}
header {
  .container {
    nav {
      display: flex;
      justify-content: space-between;
      padding: 24px;
    }
    button {
      display: flex;
      gap: 8px;
      font-size: 22px;
      border: none;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      i {
        font-size: 24px;
      }
    }
  }
}

section {
  .container {
    padding: 24px;
    .insec-wrapper {
      display: flex;
      justify-content: space-between;
      div {
        border: 2px solid black;
        border-radius: 12px;
        padding-left: 20px;
        align-items: center;
        display: flex;
        gap: 10px;
        padding: 0 10px;
background-color: #fff;
        i {
          font-size: 19px;
        }
        input {
          width: 300px;
          border: none;
          padding: 19px 0px;
          outline: none;
        }
      }
    }
    .flags-wrapper {
      margin-top: 50px;
      display: flex;
      gap: 75px;
      
    }
  }
}
.card {
    
    background-color: #fff;
    
    h4{
        padding:16px 16px;
    }
   img{
    border-radius: 8px 8px 0 0;
   }
    ul {
        list-style: none;
        padding: 16px 16px 46px;

    }
}